<a href="https://colab.research.google.com/github/harper322/mygithub/blob/main/tema_6_Estructuras_de_datos_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTRODUCCION A LAS LISTAS

In [ ]:
lista = ['juan', 31, 172.32, True]
print(lista)

['juan', 31, 172.32, True]

In [ ]:
type(lista)

list

##tamaño de una lista `len()`

In [ ]:
lista=[1,2,3,4,5,6,7,8,9]
len(lista)

9

In [ ]:
l = ['zoe','pablo','miguel','silvia']
len(l)

4

##Elementos de una lista

In [ ]:
names = ["Maria", "Juan", "Claudia", "Jorge", "Avelina"]

A `María` le corresponde el índice 0; a `Juan`, el 1; a `Claudia` el 2; a `Jorge`, el 3; y a `Avelina`, el 4.

**¡Cuidado!** En `Python`, los índices siempre empiezan en 0. De este modo, al primer elemento le corresponde el índice 0; al segundo, el índice 1; y al $n$-ésimo, le corresponde el índice $n−1$.

In [ ]:
print(names[0])

Maria

In [ ]:
print(names[3])

Jorge

In [ ]:
print(names[-1])

Avelina

In [ ]:
print(names[-3])

Claudia

In [ ]:
print(names[2:4])

['Claudia', 'Jorge']

In [ ]:
print(names[:3])

['Maria', 'Juan', 'Claudia']

In [ ]:
print(names[3:])

['Jorge', 'Avelina']

##Bucles con listas

In [ ]:
for i in range(len(names)):
    print(names[i])

Maria
Juan
Claudia
Jorge
Avelina

In [ ]:
for i in names:
    print(i)

Maria
Juan
Claudia
Jorge
Avelina

##Concatenacion y repeticion de listas

haciendo uso de la funcion `+`

In [ ]:
l1 = [True, 21, 'MArta']
l2 = [22.5, False, 22, 'rafa']
print(l1 + l2)

[True, 21, 'MArta', 22.5, False, 22, 'rafa']

##Repeticion de listas

In [ ]:
abc = ['A','B','C']
print(abc * 5)

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

##Mas metodos de listas

el metodo `.count`